/*===Basic Styles===*/
body {
  background: #fff;
  color: #404040;
  font: 400 16px/22px "Lato", Arial, sans-serif; /*need* to adjust for mobile responsive*/px
}
/*====Grid===*/
*,
*:before,
*:after {
  box-sizing: border-box;
}
.container {
  margin: 0 auto;
  width: 100%;
  height: 100%;
}
.container {
  padding: 0 3%;
}
/*  SECTIONS  */
.section {
	clear: both;
	padding: 0;
	margin: 0;
}
/*  COLUMN SETUP  */
.col {
	display: inline-block;
	float:left;
	margin: 1% 0 1% 1.6%;
}
.col:first-child {
  margin-left: 0;
  padding: 0;
}

/*  GROUPING  */
.group:before,
.group:after { content:""; display:table; }
.group:after { clear:both;}
.group { zoom:1; /* For IE 6/7 */ }
/*  GRID OF TWO  */
.span_2_of_2 {
	width: 100%;
}
.span_1_of_2 {
	width: 49.2%;s
}
/*  GRID OF THREE  */
.span_3_of_3 { width: 100%; }
.span_2_of_3 { width: 66%; }
.span_1_of_3 { width: 32%; }

/*===Rows===*/
.row,
.row-alt {
  min-width: 100%;
}
.row {
  background: #fff;
  padding: 3%, 3%;
}
.row-alt {
  background: #f2f2f2;
  padding: 3% 3%;
}
/*===Typography===*/
h1 {
  font: 400 2.75em/2em "Abril Fatface", Arial cursive;
  font-size: 2.75em;
  line-height: 2em;
  text-transform: uppercase;
}
h2 {
  font-size: 1.75em;
  font-weight: 700;
  line-height: 1.5em;
}
h3 {
  font-size: 1.5em;
  font-weight: 300;
  text-transform: uppercase;
  text-align: center;
}
h4 {
  font-size: 1.25em;
  font-weight: 200;
  text-transform: uppercase;
}
p { /* need to adjust for responsive*/
  padding: 2% 15% ;
}
a {
  text-decoration: none;
}
/*===Header===*/
header {
  height: 100%;
  background: #000;
  color: #fff;
  text-align: center;
}
.hero { /*This will need to be adjusted for moble*/
  padding-top: 5%;
  word-spacing: 1em;
  padding-bottom: 2%;
}
.hero span {
  font-size: 1.5em;
  color: #fff;
}
.hero h1::after {
  display: block;
  height: 4px;
  background-color: #000;
  content: " ";
  width: 100px;
  margin: -15px auto 15px auto;
  transform: skew(-55deg);
}
/*===Navigation===*/
.main-nav {
  padding: 1% 0 0 0;
  text-align: left;
}
.main-nav li {
  display: inline-block;
  margin: 0 10px;
}
.main-nav a:link,
.main-nav a:visited {
  color: #fff;
  text-transform: uppercase;
  font-weight: 300;
  border-bottom: 0.1em solid transparent;
  -webkit-transition: font-weight .25s, border-bottom .5s, font-size .5s;
  transition: font-weight .25s, border-bottom .5s, font-size .5s;
}
.main-nav a:hover,
.main-nav a:active {
  text-transform: uppercase;
  font-size: 115%;
  font-weight: 400;
  border-bottom: 0.1em solid blue;
    /*border-radius: 20%; */
}
.nav {
  color: #dedede;
  list-style: none;
  position: relative;
}
.nav li {
  float: left;
  margin-right: 0;
}
.nav a {
  display: block;
  padding: 5px;
}
.nav a:hover {
  color: #fff;
}
.nav ul {
  background-color: #000;
  background: rgba(0, 0, 0, 0);
  list-style: none;
  position: relative;
  display: none;
}
.nav ul li {
  padding-top: 1px;
}
.nav ul a {
  white-space: nowrap;
}
.nav li:hover ul {
  display: inline-block;
  position: absolute;
}
/*.nav li:hover ul a{
  font-size: 90%;
}*/
/*===Main===*/
.section-first {
  position: relative;
  text-align: center;
  margin: 0 auto 20px auto;
  padding: 10px auto;
}
.section-first img {
  width: 50%;
  /*border-radius: 20%;*/
}
.section-first h2 {
  text-shadow: 1px 1px #fff;
}
.main-splash {
  position: absolute;
  top: 50%;
  left: 40%;
  transform: translate(-50%, -50%);
}
/*===Show/Event Description===*/
.events h3::after {
  display: block;
  height: 2px;
  background-color: #fff;
  content: " ";
  width: 3em;
  margin: 3px auto 5% auto;
  transform: skew(-55deg);
}
.event-container {
display: flex;
align-items: center;
justify-content: center;
margin: 1% 0 3% 0%;
}
.event-container img {
  width: 250px; /*will need to scale down for mobile*/
  object-fit: scale-down;
  margin: auto;
  border: 2px solid #1a1a1a;
  border-radius: 15%;
}
.reserve {
  padding: 5%;
  position: relative;
  text-align: right;
  text-transform: uppercase;
  font-weight: 900;
}
.reserve a:link,
.reserve a:visited {
  background-color: rgba(255,0,0,0.0);
  color: #404040;
  padding: 3%;
  box-shadow: 2px 2px 1px 3px transparent;
}
.reserve a:hover,
.reserve a:active {
 background-color: #fff;
}
.normal-link {
  padding: 5%;
  position: relative;
  text-align: right;
}
.normal-link a:link,
.normal-link a:visited {
  color: #404040;
  border-bottom: 1px solid transparent;
}
.normal-link a:hover,
.normal-link a:active {
  color: #262626;
  border-bottom: 1px solid #262626;
}
/*===Random Color===*/
.blue span { color: blue;}

.blue .random h1::after { background-color: blue;}

.blue .random  h1::after,
.blue .random h3::after { background-color: blue;}

.blue .random a:hover,
.blue .random a:active { border-bottom: 1px solid blue;}

.blue .reserve a:link,
.blue .reserve a:visited {
  background-color: rgba(0, 0, 255, 0.2);
  box-shadow: 2px 2px 1px 3px blue;
}
.blue .reserve a:hover,
.blue .reserve a:active {
  background-color: #fff;
}

.red span {color: red;}

.red .random  h1::after { background-color: red;}

.red .random  h1::after,
.red .random h3::after { background-color: red;}

.red .random a:hover,
.red .random a:active { border-bottom: 1px solid red;}

.red .reserve a:link,
.red .reserve a:visited {
  background-color: rgba(255, 0, 0, 0.2);
  box-shadow: 2px 2px 1px 3px red;
}
.red .reserve a:hover,
.red .reserve a:active {
  background-color: #fff;
}
.green span{ color: green; }

.green .random  h1::after,
.green .random h3::after { background-color: green;}

.green .random a:hover,
.green .random a:active { border-bottom: 1px solid green;}

.green .reserve a:link,
.green .reserve a:visited {
  background-color: rgba(0, 255, 0, 0.2);
  box-shadow: 2px 2px 1px 3px green;
}
.green .reserve a:hover,
.green .reserve a:active {
  background-color: #fff;
}
.yellow span{ color: yellow; }

.yellow .random  h1::after,
.yellow .random h3::after { background-color: yellow;}

.yellow .random a:hover,
.yellow .random a:active { border-bottom: 1px solid yellow;}

.yellow .reserve a:link,
.yellow .reserve a:visited {
  background-color: rgba(255, 255, 0, 0.2);
  box-shadow: 2px 2px 1px 3px yellow;
}
.yellow .reserve a:hover,
.yellow .reserve a:active {
  background-color: #fff;
}
.orange span{ color: orange;}

.orange .random  h1::after,
.orange .random h3::after { background-color: orange;}

.orange .random a:hover,
.orange .random a:active { border-bottom: 1px solid orange;}

.orange .reserve a:link,
.orange .reserve a:visited {
  background-color: rgba(255,165,0, 0.2);
  box-shadow: 2px 2px 1px 3px orange;
}
.orange .reserve a:hover,
.orange.reserve a:active {
  background-color: #fff;
}
/*===Footer===*/
footer.row{
  background: #000;
  color: #888;
  height: 100%;
  width: 100%;
  padding-bottom: 15px;
}
.footer-nav {
  padding: 1% 0 3% 0;
  text-align: left;
}
.footer-nav li {
  font-size: .80em;
  display: inline-block;
  margin: 0 5px 15px 0;
}
.footer-nav a:link,
.footer-nav a:visited {
  color: #888;
}
.footer-nav a:hover,
.footer-nav a:active {
  color: #dedede;
}
small {
  font-size: .5em;
  color: #888;
  padding-bottom: 0;
}
small a {
  color: #888;
}
